<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/baseadmin.html :: headerfiles(title=#{pageTitle.esame})">
</head>

<body id="top">
	<div th:if="${role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>

	<div class="wrapper row3">
		<main class="hoc container clear">
			<!-- main body -->
			<!-- ############################################################################################# -->
			<p class="heading underline font-x2"  th:text="#{header.esameSingolo}">Esame</p>
								
			<div th:if="${exam}" th:object="${exam}">
			<section class="group">
				<div class="one_half last">
					
				</div>
				<table >
				<tr>
				<td>
				<h5 class="heading" >IDENTIFICATIVO:</h5></td>
				<td><h6 class="heading" th:text="*{id}">CODICE ESAME</h6></td>
				</tr>
				<tr>
				<td>
								<h5 class="heading" >TIPOLOGIA :</h5></td>
								<td><h6 class="heading" th:text="*{typeOfExamination.name}">typeOfExamination</h6></td>
								<tr>
								<td><h5 class="heading" >PAZIENTE:</h5></td>
								<td><h6 class="heading" th:text="|*{patient.nome} *{patient.cognome}|">patient</h6></td>
								</tr>
								<tr>
								<td>
								<h5 class="heading" >MEDICO:</h5></td>
								<td><h6 class="heading" th:text="|*{doctor.name} *{doctor.surname}|">doctor</h6></td>
								</tr>
								<tr>
								<td><h5 class="heading" >DATA PRENOTAZIONE:</h5></td>
								<td><h6 class="heading" th:text="*{dateOfPrenotation}">dateOfPrenotation</h6></td>
								</tr>
								<tr>
								<td><h5 class="heading" >DATA ESAME:</h5></td>
								<td><h6 class="heading" th:text="*{dateExamination}">dateExamination</h6></td>
								</tr>
				</table>				
							
							
								
							</div>
							
							
							<table >
							<tr>
							<td>
            						<a class="btn"
														th:href="@{'/exam/export/pdf' + '/' + ${exam.id}}">Stampa Esame in FMT PDF</a> </td>
              						<td th:if="${role}=='ADMIN'">
													<a class="btn" th:href="@{'/admin/result' + '/' + ${exam.id}}">Inserimento   Risultato</a></td>
								</tr>					
							</table>						
              						
            						</div>
								
								

								
								<p class="nospace"></p>
								<div th:unless="${exam}">Non esiste</div>
								<div></div>
							
				
			</section>
			<!-- ############################################################################################# -->
			<!-- / main body -->
			<div class="clear"></div>
		</main>
	</div>

	<figure class="hoc container clear imgroup">
		<!-- ################################################################################################ -->
		<figcaption class="sectiontitle">
			<p class="heading underline font-x2">Risultati</p>
		</figcaption>
		<table>
			<tr>
				<th>Nome</th>
				<th>Valore</th>
			</tr>
			<tr th:each="result : ${exam.result}">
				<td th:text="${result.name}">ID</td>
				<td> <em
						th:text="${result.value}">risultato</em>
				</td>
			</tr>
		</table>

	</figure>
</body>
</html>