<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/default.html :: headerfiles(title='Progetto Clinica')"> 
</head>

<body id="top">

<div class="bgded" style="background-image:url('images/backgrounds/01.png');"> 


<!-- Top Info ####################################################################################### -->

<header th:replace="fragments/default.html :: intestazione"></header>



 

  <!-- Slider ######################################################################################## -->
  
<div id="content-slider">
    	<div id="slider">
        	<div id="mask">
            <ul>
           	<li id="first" class="firstanimation">
            <a href="#">
            <img src="images/img_1.jpg" alt="Cougar"/>
            </a>
            <div class="tooltip">
            <h1>Esami di Laboratorio</h1>
            </div>
            </li>

            <li id="second" class="secondanimation">
            <a href="#">
            <img src="images/img_2.jpg" alt="Lions"/>
            </a>
            <div class="tooltip">
            <h1>Prelievi a domicilio</h1>
            </div>
            </li>
            
            <li id="third" class="thirdanimation">
            <a href="#">
            <img src="images/img_3.jpg" alt="Snowalker"/>
            </a>
            <div class="tooltip">
            <h1>Consulenza medicina di laboratorio</h1>
            </div>
            </li>
                        
            <li id="fourth" class="fourthanimation">
            <a href="#">
            <img src="images/img_4.jpg" alt="Howling"/>
            </a>
            <div class="tooltip">
            <h1>Medicina del lavoro</h1>
            </div>
            </li>
                        
            <li id="fifth" class="fifthanimation">
            <a href="#">
            <img src="images/img_5.jpg" alt="Sunbathing"/>
            </a>
            <div class="tooltip">
            <h1>Prevenzione</h1>
            </div>
            </li>
            </ul>
            </div>
            <div class="progress-bar"></div>
        </div>
  </div>

<!-- ################################################################################################# -->

  	
<!-- Pagina Centrale ################################################################################# -->  	
  	
    <div id="pageintro" class="hoc clear"> 
      <!-- ########################################################################################### -->
      <article>
        <h3 class="heading">La salute: un bene prezioso.</h3>
        <p></p>
        
      </article>
      <!-- ########################################################################################### -->
    </div>



<!-- ################################################################################################# -->
<!-- End Top Background Image Wrapper -->

<!-- Blog   Centrale ################################################################################# -->  

</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ############################################################################################# -->
    <section class="group">
      <div class="one_half first"><img class="inspace-15 borderedbox" src="images/pic0.png" alt=""></div>
      <div class="one_half">
        <ul class="nospace group inspace-15">
          <li class="one_half first btmspace-50">
            <article>
              <h6 class="heading"><a href="#">PROMOZIONE TROMBOFILIA</a></h6>
              <p class="nospace"> Presso il nostro Laboratorio Analisi Cliniche e' in corso una fantastica promozione che non puoi lasciarti sfuggire!&hellip;</p>
            </article>
          </li>
          <li class="one_half btmspace-50">
            <article>
              <h6 class="heading"><a href="#">OFFERTA ESAME D-DIMERO</a></h6>
              <p class="nospace">I D-Dimeri sono frammenti di fibrina derivati dalla sua degradazione enzimatica. Il dosaggio del D-Dimero  rappresenta un valido aiuto per la diagnosi e la gestione di molte condizioni trombotiche&hellip;</p>
            </article>
          </li>
          <li class="one_half first">
            <article>
              <h6 class="heading"><a href="#">PACCHETTO IPERTENSIONE</a></h6>
              <p class="nospace">Presso il nostro laboratorio Analisi Cliniche e' in corso una promozione  per gli esami utili nei soggetti ipertesi:&hellip;</p>
            </article>
          </li>
          <li class="one_half">
            <article>
              <h6 class="heading"><a href="#">PROMOZIONE TEST PRE-DIABETE</a></h6>
              <p class="nospace">Presso il nostro laboratorio Analisi Cliniche  e' in corso una promozione del test per diagnosticare il pre-diabete.&hellip;</p>
            </article>
          </li>
        </ul>
      </div>
    </section>
    <!-- ############################################################################################# -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<!-- Gallery Photo ################################################################################### -->  

 <section class="group">
	<div class="bgded overlay" style="background-image:url('images/backgrounds/01.png');">
  	<figure class="hoc container clear imgroup"> 
    <!-- ################################################################################################ -->
    <figcaption class="sectiontitle">
      <p class="nospace font-xs">Pulvinar sem eu tincidunt magna</p>
      <p class="heading underline font-x2">Nulla eu turpis curabitur</p>
    </figcaption>
    <ul class="nospace group">
      <li class="one_half"><a class="imgover" th:href="@{/typeOfExaminationFree}"><img src="images/pic1.png" alt=""></a></li>
      <li class="one_half"><a class="imgover" th:href="@{/doctorFree}"><img src="images/pic2.png" alt=""></a></li>
     
    </ul>
    <!-- ################################################################################################ -->
  </figure>
  <!-- ############################################################################################### -->
  	</div>
  </section>


<!-- footer       #################################################################################### -->  

<div class="bgded overlay row4" style="background-image:url('images/backgrounds/01.png');">
  <footer th:replace="fragments/base.html :: fondo(home='/')" id="footer" class="hoc clear"> 
 <div class="wrapper coloured">
  <section id="ctdetails" class="hoc clear"> 
    <!-- ############################################################################################## -->
    <ul class="nospace clear">
      <li class="one_quarter first">
        <div class="block clear"><a href="tel:001-234-567-890"><i class="fas fa-phone"></i></a> <span><strong>Contattaci:</strong> +00 (123) 456 7890</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="contattaci.html"><i class="fas fa-envelope"></i></a> <span><strong>Manda una email:</strong> support@domain.com</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><i class="fas fa-clock"></i> <span><strong> Lunedi - Sabato:</strong> 08.00am - 18.00pm</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="https://goo.gl/maps/m5fg47TcDCkNfZEJ8" target="_blank"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Dove Trovarci</strong><a href="https://goo.gl/maps/m5fg47TcDCkNfZEJ8" target="_blank">Indirizzo</a></span></div>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
  </footer>
</div>

</body>
</html>